@page "/"

 
<h1 class="clignote">FAVIES</h1>

 <img src ="../images/projector.jpg" alt="Welcome" class="welcome-image" />
 <style>
  .welcome-image {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    height: 40%;
    border-radius: 10px;
  }
  
    h1 {
        text-align: center;
        font-size: 10em;
        margin-top: 20px;
        font-family: 'Arial', sans-serif;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        color: #7f0000;
    }
    h1.clignote {
        animation: clignote 1s infinite;
        color: #fff;
        text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000;
    }
  
</style>