@inherits LayoutComponentBase
@inject AuthService AuthService
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="page">
    <div class="sidebar">
        <NavMenu/>
       
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool _isAuthenticated;

    protected override async Task OnInitializedAsync()
    {
        AuthService.AuthenticationChanged += OnAuthenticationChanged;
        _isAuthenticated = AuthService.IsAuthenticated();
        await AuthService.GetCurrentUserAsync();
        StateHasChanged();
    }

 
    private void OnAuthenticationChanged()
    {
        Console.WriteLine("AuthenticationChanged event triggered."); // Vérification
        _isAuthenticated = AuthService.IsAuthenticated();
        StateHasChanged();
    }

    public void Dispose()
    {
        AuthService.AuthenticationChanged -= OnAuthenticationChanged;
        GC.SuppressFinalize(this);
    }
}